<h1 align = center> Showing All Alpha Bloggers </h1>
<div align = "center">
  <%= will_paginate %>
</div>
<div class = "top-space center">

    <% @users.each do |user| %>

        <div class = "row">
            <div class = "well col-xs-4 col-xs-offset-4 center">
                <div class = "listing">
                    <li><%= link_to gravatar_for(user), user_path(user) %></li>
                    <li><%= link_to user.username, user_path(user) %></li>

                    <li><%= pluralize(user.articles.count, "article") if user.articles %></li><br>

                    <% if logged_in? and current_user.admin? %>
                    <li><%= link_to "Delete this User", user_path(user), class: "btn btn-danger",
                    method: :delete, data: {confirm: "Are you Sure to Delete this User and its Articles?"} %></li>
                    <% end %>
                </div>
            </div>
        </div>

    <% end %>
</div>
 <div align = "center">
  <%= will_paginate %>
</div>